/* need porfolio images to stay centered 
   profile image could also be scooted right about 10px when screen is md or lg */

/* Elements */

body {
    background-image: url('..//images/white-waves.png');
}

header {
    background-color: white;
    border-bottom: 2px solid #cccccc;
    height: 79px;
}

h1 {
    background-color: #1f6bf8;
    color: #ffffff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left: 10.4%;
    padding: 25px 25px 25px 25px;
}

h2 {
    color: #1f6bf8;
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0px;
}

h3 {
    background-color: #1f6bf8;
    color: #ffffff;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto 20px auto;
}

h6 {
    font-size: 12px;
}

p {
    padding: 0 10px;
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

footer {
    background-color: #666666;
    border-top: 5px solid #1f6bf8;
    color: #777777;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding-top: 5px;
}

/* Nav Bar and Container */

.nav {
    margin-right: 10%;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    justify-content: end;
}

.nav-link {
    color: #777777;
}

.container {
    margin-top: 5%;
    border: 1px solid #cccccc;
    padding: 10px 10px 10px 10px;
    overflow: auto;
    background-color: white;
    margin-bottom: 10%;
}
/* Responsive Images */


.img-fluid {
    height: 350px; 
    width: 350px;
    max-width: 100%;
    height: auto;
    display: block;
}  

.img-fluid.port-image {
    margin: 0 auto;
    margin-top: 10px;
}

iframe {
    height: 1150px;
    width: 100%;
}

/* Project Boxes */
.project {
    text-align: center;
}

/* IDs */

#contactDiv {
    text-align: center;
}

#contactdiv a {
    color: #1fb3f8;
}

#submit {
    width: 80px;
    height: 30px;
    background-color: #1f6bf8;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: none;
    margin-top: 5px;
}

.pageLink {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #1f6bf8;
}

#resume {
    height: 100%;
}

/* Media Query */

@media screen and (max-width: 640px) {
    header {
        padding-left: 0;
        padding-bottom: 120px;
    }

    h1 {
        float: none;
        width: 100%;
        text-align: center;
        margin: 0;
        padding-left: 0;
    }

    .nav {
        margin-left: 10%;
    }

    .nav-item {
        margin: 0 auto;
    }
}    

@media screen and (max-width: 575px) {
    h3 {
        width: 350px;
    }
}

@media screen and (min-width: 768px) {
    h3 {
        width: 350px;
    }
}

